 <div *ngIf="items?.length > 0; else noItems">
   <ul
     *ngFor="let item of items"
    class="collection"
   >
    <li
      class="collection-item"
    >
      <strong>{{ item.title }}</strong>: {{ item.description }}
      <a href="#" class="secondary-content">
        <i
          (click)="editItem($event, item)"
          class="fa fa-pencil"
          *ngIf="!editState"
        ></i>
        <i
          (click)="clearState()"
          class="fa fa-compress"
          *ngIf="editState && itemToEdit.id == item.id"
        ></i>
      </a>
      <div *ngIf="editState && itemToEdit.id == item.id">
        <form (ngSubmit)="updateItem(item)">
          <div class="row">
            <div class="input-field col s6">
              <input
                type="text"
                placeholder="Add Title ..."
                [(ngModel)]="item.title"
                name="title"
                id="title"
              >
            </div>

            <div class="input-field col s6">
              <input
                type="text"
                placeholder="Add Description ..."
                [(ngModel)]="item.description"
                name="description"
                id="description"
              >
            </div>
            <input type="submit" value="Update" class="btn orange">
            <button
              class="btn red"
              (click)="deleteItem($event, item)"
            >Delete</button>
          </div>

        </form>
      </div>
    </li>
   </ul>
 </div>

 <ng-template #noItems>
   <hr>
   <h5>There are no items to list</h5>
 </ng-template>
